
<%- include header.ejs -%>
<p class='btn-light d-flex justify-content-center h1'><span class="badge badge-pill badge-light">Bienvenue sur mon mini app Méteo</span></p>

<div class="d-flex justify-content-center  ">

</div>
<img src= `https://www.countryflags.io/<%= country %>/flat/64.png` >
<div class='card  p-10 m-10 d-flex  '>
<h1 class='m-5 p-8 '> 

<p>A <%= country %>, la temperature est de <%= result %> et l'humidité est de <%= result %> bars
le soleil se leve a <%= result %> et se couche a <%= result %> </p>
</div>

</div>

<%- include footer.ejs -%>